#NavLink {
    /* position: absolute;
    width: 140px;
    height: 36px;
    left: calc(50% - 140px/2 + 73px);
    top: 41px; */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    /* font-size: 20px;
    line-height: 30px;
    text-align: center; */

    color: #5D7186;
}

.NavLink {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    color: #5D7186;
    margin-left: 5px;
    margin-right: 5px;

}


.active {
    /* background-color:aqua;
    color:#ffffff; */

    background: #01C4D3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 21px;
}

