.form_div{
    
  margin-left: 20%;
 
    
    width:70%;
display: flex;
flex-direction: column;
    font-family: 'Poppins';
font-style: normal;




  }
  .Icon1
  {
    display: flex;
    align-items: flex-start;
    margin-right: 10%;
    
  }
  .main1
  {
    display: flex;
    width: 100%;
    position: relative;
  }

  .register-btn{
    width: 80%;
    border-radius: 5px;
    background-color: #FF735C;
    border-color: black;
  
  }

  .inp-field{
  
    width: 80%;
    border-radius: 50%;
    height: 10%;
  
  }


  .error-msg{
    color: red;
    font-size:x-small;
    

  }


  #create-account{
    font-family: "Canva_Sans", "Open_Sans", "sans_serif";
    font-weight: bold;
    margin-bottom: 2%;
    text-align: left;
    font-size: x-large;
  }

  #login-msg{
    
  }

  